Extended Lightweight Modeling Framework/generate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="root" type="__root" /><xs:complexType name="__root"><xs:sequence><xs:element name="Car" type="Car" minOccurs="0" maxOccurs="unbounded" /><xs:element name="Student" type="Student" minOccurs="0" maxOccurs="unbounded" /><xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded" /></xs:sequence></xs:complexType><xs:complexType name="Car"><xs:all><xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" /><xs:element name="driver" type="xs:IDREF" minOccurs="0" maxOccurs="1" /><xs:element name="clients" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="4" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:all><xs:attribute name="_id" type="xs:ID" /></xs:complexType><xs:complexType name="Student"><xs:all><xs:element name="sid" type="xs:int" minOccurs="0" maxOccurs="1" /><xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" /><xs:element name="sex" type="SEX" minOccurs="0" maxOccurs="1" /><xs:element name="friends" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="unbounded" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:all><xs:attribute name="_id" type="xs:ID" /></xs:complexType><xs:simpleType name="SEX"><xs:restriction base="xs:string"><xs:enumeration value="MAN" /><xs:enumeration value="WOMAN" /></xs:restriction></xs:simpleType><xs:complexType name="Person"><xs:all><xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" /><xs:element name="sex" type="SEX" minOccurs="0" maxOccurs="1" /><xs:element name="friends" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="unbounded" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:all><xs:attribute name="_id" type="xs:ID" /></xs:complexType></xs:schema>
